<div class="index-container">
  <app-header></app-header>

  <section class="welcome">
    <div class="content">
      <h1>O Melhor Lava-Rápido da Cidade</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum labore nemo sequi voluptatum unde amet laboriosam velit nobis facilis aliquid! Quam sequi modi placeat excepturi doloribus eos sed hic laboriosam.</p>

      <button type="button">Marque um horário</button>
    </div><!--content-->
  </section><!--welcome-->

  <div class="informations">
    <div class="information-single">
      <fa-icon [icon]="dinheiro"></fa-icon>
      <div class="content-information">
        <h2>Preço Justo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse blanditiis tempora officia omnis! Aliquid inventore ab officiis sit expedita quae asperiores, ducimus pariatur, doloremque autem blanditiis deleniti veritatis velit.</p>
      </div><!--content-information-->
    </div><!--information-single-->

    <div class="information-single">
      <fa-icon [icon]="clean"></fa-icon>
      <div class="content-information">
        <h2>Limpeza Detalhada</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui nemo magnam ipsa deleniti dolores omnis modi ab repudiandae quam itaque, amet praesentium doloremque nihil? Cum, quo? Cumque, exercitationem explicabo?</p>
      </div><!--content-information-->
    </div><!--information-single-->

    <div class="information-single">
      <fa-icon [icon]="clock"></fa-icon>
      <div class="content-information">
        <h2>Aberto 24 Horas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolore reiciendis, aspernatur saepe eaque molestiae eum. Incidunt, ipsa iusto, optio eos delectus quis repellat, magni rem placeat odio a est.</p>
      </div><!--content-information-->
    </div><!--information-single-->
  </div><!--informations-->

  <section class="sobre">
    <div class="content-sobre">
      <h2>Sobre Nós</h2>
      <h1>Os Detalhes são Realmente Importantes</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut incidunt voluptatibus totam repellendus, blanditiis quod delectus, repellat perspiciatis exercitationem, vitae culpa? Facilis, ducimus repellendus. Consequuntur consequatur adipisci modi excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum non ducimus similique voluptate rerum sint molestias provident neque! Laboriosam asperiores accusamus tempora, possimus delectus ipsam alias porro labore ut.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sit asperiores adipisci voluptatibus voluptates, maxime, soluta beatae itaque eum, assumenda nulla rem facere voluptas ipsa incidunt odio? Excepturi, libero error. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti tenetur, ab qui error provident magnam quae in, labore sapiente magni quisquam similique voluptatibus, tempore atque. Mollitia quaerat unde ad maxime!
      </p>

      <a href="#">Leia mais <fa-icon [icon]="arrowUpRight"></fa-icon></a>
    </div><!--content-sobre-->

    <aside>
      <img src="../../../../assets/content-sobre.jpg" alt="Lava Rápido">
    </aside>
  </section><!--sobre-->

  <section class="servicos">
    <aside>
      <img src="../../../../assets/mulher-anotando.png" alt="anotando">
    </aside>

    <div class="content-servicos">
      <h2>Serviços</h2>
      <h1>Nós providenciamos os melhores serviços</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veritatis qui tempora obcaecati tenetur aut temporibus dolor neque distinctio. Reprehenderit fuga nam a error expedita, ab iusto nulla nemo. Nemo?
      </p>

      <div class="servicos-box">
        <div class="servicos-single">
          <div>
            <fa-icon [icon]="car"></fa-icon>
          </div>

          <p>Lava jato Express</p>
        </div><!--servicos-single-->

        <div class="servicos-single">
          <div>
            <fa-icon [icon]="check"></fa-icon>
          </div>

          <p>Serviço lava jato completo</p>
        </div><!--servicos-single-->

        <div class="servicos-single">
          <div>
            <fa-icon [icon]="snow"></fa-icon>
          </div>

          <p>Lava jato de neve</p>
        </div><!--servicos-single-->

        <div class="servicos-single">
          <div>
            <fa-icon [icon]="wind"></fa-icon>
          </div>

          <p>Vácuo interior</p>
        </div><!--servicos-single-->
      </div><!--servicos-box-->

      <a href="#">Explore agora <fa-icon [icon]="arrowUpRight"></fa-icon></a>
    </div><!--content-servicos-->
  </section><!--servicos-->

  <section class="galeria">
    <div class="content-galeria">
      <h2>Galeria</h2>

      <h1>Nosso excelente trabalho</h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ducimus et porro autem eum nihil enim alias nobis veniam. Nesciunt voluptatibus veritatis et minima sapiente ullam ea fuga id quidem!</p>

      <picture>
        <div class="fotos-esquerda">
          <img src="../../../../assets/galeria1.jpg" alt="galeria1">

          <img src="../../../../assets/galeria2.jpg" alt="galeria2">
        </div><!--fotos-esquerda-->

        <div class="fotos-direita">
          <img src="../../../../assets/galeria3.jpg" alt="galeria3">
        </div><!--fotos-direita-->
      </picture>

      <a href="#">See more  <fa-icon [icon]="arrowUpRight"></fa-icon></a>
    </div><!--content-galeria-->
  </section><!--galeria-->

  <section class="depoimentos">
    <div class="content-depoimentos">
      <h2>Depoimentos</h2>
      <h1>Aqui está o que os nossos clientes dizem</h1>

      <swiper-container
      pagination="true"
      pagination-clickable="true"
      slides-per-view="1"
      >
      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile1.jpg" alt="profile1">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Joalisson</p>
            <p>Desenvolvedor</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>

      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile2.jpg" alt="profile2">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Jonatas</p>
            <p>Gerente de Marketing</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>

      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile3.jpg" alt="profile3">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Lili</p>
            <p>Fisioterapeuta</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>

      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile1.jpg" alt="profile1">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Ludmilla</p>
            <p>Dentista</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>

      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile2.jpg" alt="profile2">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Pedro</p>
            <p>Advogado</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>

      <swiper-slide>
        <div class="depoimento-single">
          <div class="parte-cima">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit impedit, maiores eveniet eaque, fugiat eos in nemo expedita ipsum quae, similique nulla? Voluptas voluptatibus autem labore maxime minima nesciunt deleniti.</p>
            <img src="../../../../assets/profile3.jpg" alt="profile3">
            <span><fa-icon [icon]="quote"></fa-icon></span>
          </div><!--parte-cima-->
          <div class="parte-baixo">
            <p>Laura</p>
            <p>Atendente</p>
          </div><!--parte-baixo-->
        </div><!--depoimento-single-->
      </swiper-slide>
      </swiper-container>
    </div><!--content-depoimentos-->
  </section><!--depoimentos-->

  <section class="horario">
    <div class="content-horario">
      <h2>Horários</h2>
      <h1>Agende um horário e venha curtir esta experiência</h1>

      <div class="callback">
        <p class="callbackSucess" *ngIf="callbackSucess">{{messageSucess}}</p>
        <p class="callbackError" *ngIf="callbackError">{{messageError}}</p>
      </div><!--callback-->

      <form action="" method="post" (submit)="enviarHorario()">
        <input type="hidden" name="user_id" [(ngModel)]="user_id">

        <div class="camp">
          <label>Digite uma data</label>
          <input type="text" name="date" mask="00/00/0000" [(ngModel)]="date">
        </div><!--camp-->

        <div class="camp">
          <label>Escolha a hora</label>
          <select name="hour" [(ngModel)]="hour">
            <option value="">Escolha uma opção</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
          </select>
        </div><!--camp-->

        <div class="camp">
          <label>Escolha os minutos</label>
          <select name="minute" [(ngModel)]="minute">
            <option value="">Escolha uma opção</option>
            <option value="00">00</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
          </select>
        </div><!--camp-->
        <button type="submit">Enviar</button>
      </form>

      <span>Veja abaixo horários agendados <fa-icon [icon]="chevron"></fa-icon></span>

      <hr>
      <table>
        <thead>
          <tr>
            <th class="nome">Nome</th>
            <th class="data">Data</th>
            <th class="hora">Hora e Minuto</th>
            <!--confirmacao para o adm e status para clientes-->
            <th class="confirmacao">Confirmação</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of this.api">
          <tr>
            <!--resultados-->
            <td>{{item.user.first_name}}</td>
            <td>{{item.horario.date}}</td>
            <td>{{item.horario.hourMinute}}</td>
            <td>
              <!--colocar @if caso seja o adm,e depois  no else verificar o status se for sim  ou não colocar  bolinha verde  ou vermelha  com nome marcado ou rejeitado-->
              @if (email === 'admin@gmail.com') {
              <input type="hidden" name="id" [(ngModel)]="item.horario.cod">
              <input type="submit" name="sim" class="confirmar" [(ngModel)]="confirmationBtnConfirmar" (click)="confirmar(item.horario.cod)">
              <input type="submit" name="nao" class="rejeitar" [(ngModel)]="confirmationBtnRejeitar" (click)="rejeitar(item.horario.cod)">

              }@else {
                @if (item.horario.confirmado === 'nao') {
                  <div class="rejeitado"></div>
                }@else if (item.horario.confirmado === 'sim') {
                  <div class="confirmado"></div>
                }
                @else {
                  <div class="andamento"></div>
                }
              }

            </td>
          </tr>
        </tbody>
      </table>
    </div><!--content-horario-->
  </section><!--horario-->

  <footer>
    <app-footer></app-footer>
  </footer>
</div><!--index-container-->
