.welcome{
  background-image: url('../../../../assets/carro-lavando.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  z-index: 1;
}

section.welcome{
  position: relative;
}

section.welcome div.content{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

section.welcome h1{
  padding-top: 150px;
  font-size: 60px;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 650px;
}

section.welcome div.content p{
  padding-top: 320px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 23px;
  font-weight: 600;
}

section.welcome div.content button{
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 20px;
  background-color: #ff0000;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

section.welcome div.content button:active{
  position: absolute;
  top: 451px;
}

div.informations{
  background-color: #ff0000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 10px;
  height: 200px;
}

div.information-single{
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.information-single fa-icon{
  font-size: 70px;
  margin-right: 10px;
}

div.content-information{
  display: flex;
  flex-direction: column;
}

div.content-information h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding-bottom: 4px;
}

div.content-information p{
  width: 350px;
  text-align: left;
}

/*sobre*/

section.sobre{
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  position: relative;
}

section.sobre div.content-sobre{
  padding-left: 100px;
}

section.sobre div.content-sobre h2{
  font-size: 18px;
  width: 92px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid rgb(12,14,90);
}

section.sobre div.content-sobre h1{
  padding:20px 0;
  font-size: 32px;
}

section.sobre div.content-sobre p{
  line-height: 25px;
  color: #777;
  font-size: 16px;
  font-weight: bold;
  width: 550px;
}

section.sobre div.content-sobre p:nth-of-type(1){
  margin-bottom: 20px;
}

section.sobre div.content-sobre a{
  position: relative;
  top: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  border-bottom: 2px solid rgb(12,14,90);
}

section.sobre div.content-sobre,section.sobre aside{
  width: 50%;
}

section.sobre aside{
  text-align: center;
}

section.sobre aside img{
  width: 600px;
  height: 500px;
  border-top-left-radius: 40px;
}

/*servicos*/
section.servicos{
  margin: 150px 40px 0 40px;
  border-radius: 20px;
  background-color: #e9e3e346;
  display: flex;
  flex-direction: row;
}

section.servicos div.content-servicos h2{
  padding-top: 150px;
  font-size: 18px;
  width: 78px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid rgb(12,14,90);
}

section.servicos div.content-servicos h1{
  padding: 20px 0 40px 0;
  font-size: 35px;
}

section.servicos div.content-servicos p{
  font-size: 17px;
  color: #555;
  font-weight: bold;
  line-height: 24px;
}

section.servicos div.servicos-box{
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

div.servicos-box div.servicos-single{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.servicos-box div.servicos-single div{
  background-color: #ff0000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  color: #fff;
}

div.servicos-box div.servicos-single:nth-child(1) div fa-icon{
  position: absolute;
  top: 6px;
  left: 7px;
}

div.servicos-box div.servicos-single:nth-child(2) div fa-icon{
  position: absolute;
  top: 6px;
  left: 9px;
}

div.servicos-box div.servicos-single:nth-child(3) div fa-icon{
  position: absolute;
  top: 7px;
  left: 8px;
}

div.servicos-box div.servicos-single:nth-child(4) div fa-icon{
  position: absolute;
  top: 7px;
  left: 7px;
}

div.servicos-box div.servicos-single p{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

section.servicos a{
  position: relative;
  top: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  border-bottom: 2px solid rgb(12,14,90);
  padding-bottom: 2px;
}

section.servicos div.content-servicos,section.servicos aside{
  width: 50%;
}

section.servicos aside img{
  width: 400px;
  height: 100%;
  position: relative;
  top: -30px;
}

/*galeria*/

section.galeria{
  padding-top: 150px;
}

section.galeria div.content-galeria h2{
  font-size: 18px;
  width: 63px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid rgb(12,14,90);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section.galeria div.content-galeria h1{
  padding: 20px 0 40px 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section.galeria div.content-galeria p{
  width: 750px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  line-height: 24px;
}

div.content-galeria picture{
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row;
}

div.content-galeria picture div.fotos-esquerda{
  width: 30%;
}

div.content-galeria picture div.fotos-direita{
  width: 70%;
}

div.content-galeria picture div.fotos-esquerda img{
  width: 400px;
  height: 300px;
  margin: 0 10px 0 20px;
}

div.content-galeria picture div.fotos-esquerda img:nth-child(1){
  margin-bottom: 20px;
}

div.content-galeria picture div.fotos-direita img{
  width: 90%;
  height: 99.5%;
  margin: 0 20px 0 40px;
}

div.content-galeria a{
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  border-bottom: 2px solid rgb(12,14,90);
  padding-bottom: 2px;
}

/*depoimentos*/
section.depoimentos{
  padding-top: 200px;
}

section.depoimentos div.content-depoimentos h2{
  font-size: 18px;
  width: 115px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid rgb(12,14,90);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section.depoimentos div.content-depoimentos h1{
  padding: 20px 0 40px 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

div.content-depoimentos swiper-container{
  padding: 0 120px;
}

div.content-depoimentos swiper-container swiper-slide div.depoimento-single{
  border: 1px  solid #444;
  width: 320px;
  height: 350px;
  margin-bottom: 60px;
  position: relative;
}

swiper-slide div.parte-cima{
  height: 65%;
  background-color: #fff;
}

swiper-slide div.parte-cima p{
  padding: 30px 20px 20px 20px;
}


swiper-slide div.parte-cima img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #fff;
}

swiper-slide div.parte-cima span{
  position: relative;
  top: -105px;
  left: 110px;
  font-size: 50px;
  color: #777;
}

swiper-slide div.parte-baixo{
  height: 35%;
  background-color: rgb(180, 0, 0);
}

swiper-slide div.parte-baixo p{
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  position: relative;
  top: 60px;
}
