<div class="footer-container">
  <div class="dados">
    <div class="title">
      <fa-icon [icon]="car"></fa-icon>
      <p>Fast and Wash</p>
    </div><!--title-->

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae hic architecto officia sapiente sit itaque tempore deleniti aliquam ipsa sint libero obcaecati nostrum, numquam similique suscipit ducimus sed officiis corrupti?</p>
  </div><!--dados-->

  <div class="adress">
    <p>Company</p>
    <p>24700 McBean Plwy,Valencia,CA 91355 United States</p>
  </div><!--adress-->

  <div class="contato">
    <p>Contato</p>
    <p>admin&#64;gmail.com</p>
    <p>(75) 00000-0000</p>
    <ul>
      <li><fa-icon [icon]="facebook"></fa-icon></li>
      <li><fa-icon [icon]="twitter"></fa-icon></li>
      <li><fa-icon [icon]="linkedIn"></fa-icon></li>
    </ul>
  </div><!--contato-->
</div><!--footer-container-->
