@media screen and (width < 900px) {
  app-header-shared,app-footer-shared{
    display: none;
  }

  main{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (width < 580px) {
  main{
    max-width: 96%;
  }

  main p{
    font-size: 13px;
  }

  form div.camp input,button[type=submit]{
    width: 80%;
  }
}

@media screen and (width < 580px) {
  main p{
    font-size: 12px;
  }

  form div.camp input,button[type=submit]{
    width: 90%;
  }
}

@media screen and (width < 390px) {
  main{
    max-width: 96%;
  }

  main h2{
    font-size: 35px;
  }

  main p{
    font-size: 10px;
  }

  form{
    max-width: 90%;
    top: 160px;
  }

  form div.camp input,button[type=submit]{
    width: 95%;
  }

  div.or h3.left,div.or h3.right{
    width: 100px;
  }

  div.others-login{
    bottom: -290px;
  }
}

@media screen and (width < 350px) {
  main h2{
    font-size: 32px;
  }

  main p{
    display: none;
  }

  form{
    top: 135px;
  }

  form div.camp input,button[type=submit]{
    width: 97%;
  }

  div.others-login button{
    width: 220px;
    font-size: 14px;
  }
}
