<!--<main>
  <form action="" method="post" (submit)="autenticar()">
    <div class="camp">
      <input type="text" name="first_name" placeholder="Nome" [(ngModel)]="first_name" required>
    </div>

    <div class="camp">
      <input type="text" name="last_name" placeholder="Sobrenome" [(ngModel)]="last_name" required>
    </div>

    <div class="camp">
      <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required>
    </div>

    <div class="camp">
      <input type="text" name="phone" placeholder="Telefone" [(ngModel)]="phone" required>
    </div>

    <div class="camp">
      <input type="password" name="password" placeholder="Senha" [(ngModel)]="password" required>
    </div>

    <div class="camp">
      <input type="password" name="confirm_password" placeholder="Confirmar Senha" [(ngModel)]="confirm_password" required>
    </div>

    <button type="submit">Entrar</button>
  </form>
</main>
-->
